/* 
Course: Web Assignment 2 
Author： Wenqian Zhu, Yilei Shen, Dezhi Kong
Date：July 13, 2024
*/

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* END CSS Reset*/

/* Common Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
    font-family:cursive;
}

h2 {
    font-size: 1.75em;
    font-family: cursive;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.875em;
}

p {
    margin-bottom: 15px;
}

/*Button style*/

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4cae2a;
    color: white;
    font-size: 1em;
}

button[type=reset] {
    background-color: #e26911;
}

button[type=cancel] {
  background-color: #e26911;
}

/* Top Navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bda56d;
    padding: 0 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 2px;
}



.topnav a:hover {
    background-color: #cee18b; /* Light grey */
    color: black;
}

/* Specific hover styles for the split links */
.topnav a.split:hover {
    background-color:#cee18b; /* light green for split links */
    color: white;
}

/* first page text centered*/
.centered {
    position: absolute;
    top: 65%;
    left: 77%;
    transform: translate(-50%, -50%);
    color: #833d18;
    font-size: 7em;
    font-family: cursive;
  }

/* first page image opacity*/
  img {
    opacity: 0.75;
   
  }

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #3a9204;
  color: white;
  justify-content: space-between; /* Space out items horizontally */
}

/* Form Styles */
.formcontainer {
    width: 40%;
    margin: 40px auto;
    padding: 20px;
}

.textfield {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus {
    background-color: #fadfb2;
}


/* Layout for Recipe Page */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.recipe-list, .add-recipe {
    width: 48%;
    padding: 10px 10px;
    margin:10px 20px;
}

/*select style*/
select{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Add Recipe Form */
form {
    margin-top: 20px;
}

form input[type="text"], form textarea, form [input=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
    .formcontainer {   
        width: 90%;
    }
    .content {
        flex-direction: column;
    }
    .recipe-list, .add-recipe {
        width: 100%;
    }
}





/* Footer */
footer {
    text-align: center;
    padding: 10px;
    margin-right: auto;
    background-color: #bda56d;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
